<div class="h-20"></div>
<div>
  <div class="flex justify-around fixed top-14 left-0 right-0 bg-white pb-2">
    <button
      aria-label="previous tower"
      (click)="changeTower('back')"
      class="pt-3 flex justify-between items-center"
    >
      <mat-icon class="bg-green-600 text-white rounded-full w-15 h-15">
        arrow_back
      </mat-icon>
      &nbsp; Previous
    </button>
    <h2 class="pt-6 pb-0">Tower {{ selectedTower + 1 }}:</h2>
    <button
      aria-label="next tower"
      (click)="changeTower('next')"
      class="pt-3 flex justify-between items-center"
    >
      Next &nbsp;
      <mat-icon class="bg-green-600 text-white rounded-full w-9 h-9">
        arrow_forward
      </mat-icon>
    </button>
  </div>
</div>
