<div class="flex justify-around">
  <button
    aria-label="previous tower"
    (click)="changeTower('back')"
    class="pt-3 flex justify-between"
  >
    <mat-icon class="bg-green-600 text-white rounded-full w-9 h-9">
      arrow_back
    </mat-icon>
  </button>
  <button
    aria-label="next tower"
    (click)="changeTower('next')"
    class="pt-3 flex justify-between"
  >
    <mat-icon class="bg-green-600 text-white rounded-full w-9 h-9">
      arrow_forward
    </mat-icon>
  </button>
</div>
