<h3 style="padding-left: 10px">Faults</h3>

<mat-card *ngIf="error$ | async as error">
  <mat-card-content>{{ error }}</mat-card-content>
</mat-card>

<mat-card *ngIf="isLoading$ | async">
  <mat-card-content>...Loading Faults...</mat-card-content>
</mat-card>

<mat-card *ngFor="let fault of faults$ | async">
  <mat-card-subtitle> Fault: {{ fault.title }} </mat-card-subtitle>
  <mat-card-content>Tray Id: {{ fault.trayId }}</mat-card-content>
</mat-card>

<mat-card *ngIf="!(isLoading$ | async) && (faults$ | async)?.length == 0">
  <mat-card-content>No faults found</mat-card-content>
</mat-card>
